<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Chit Chat - Create Account</title>

  <!-- Tailwind.css is a CSS library. Read the docs here: -->
  <!-- https://tailwindcss.com/docs/what-is-tailwind -->
  <link rel="stylesheet" href="/tailwind.css" />
</head>

<body class="bg-black">
  <header class="fixed pin-x pin-t bg-black text-white">
    <div class="h-16 p-4 flex items-center justify-between" style="width: 1000px">
      <h2 class="mt-8 ml-8 pl-2 pr-2 pt-4 pb-4 uppercase bg-blue-darker border border-white" >Chit Chat - Create Account</h2>
    </div>
  </header>
  <main class="h-screen flex flex-col items-center justify-center">
    <form class="m-4 mt-12 shadow-lg bg-blue rounded-lg overflow-hidden w-2/5" method="POST" action="/create-account">
      <h1 class="text-2xl bg-blue-darker text-center text-white p-4">Create Account</h1>

      {{#if errorMessage}}
      <div class="bg-red-lightest text-red-dark p-4">{{ errorMessage }}</div>
      {{/if}}

      <label class="m-4 p-2 block">
        Name
        <input class="block rounded bg-grey-lightest p-2 mt-2 w-full" type="text" name="name" value="{{ name }}"
          required />
      </label>

      <label class="m-4 p-2 block">
        Email Address
        <input class="block rounded bg-grey-lightest p-2 mt-2 w-full" type="email" name="email" value="{{ email }}"
          required />
      </label>

      <label class="m-4 p-2 block">
        Password
        <input class="block rounded bg-grey-lightest p-2 mt-2 w-full" type="password" name="password" required />
      </label>

      <label class="m-4 p-2 block">
        Confirm Password
        <input class="block rounded bg-grey-lightest p-2 mt-2 w-full" type="password" name="passwordConfirm" required />
      </label>

      <button type="submit" class="block w-auto rounded-full bg-blue-darker text-white p-2 m-4 ml-auto hover:bg-purple-darkest">
        Create Account →
      </button>
    </form>

    <a href="/sign-in" class="bg-blue block mt-8 text-white p-4 rounded-full no-underline hover:bg-purple">Already
      part of Chit Chat?
      Sign in here</a>
  </main>
</body>

</html>